@if (User?.Identity?.IsAuthenticated ?? false)
{
    <div class="d-flex">
        @if (User.IsInRole("Admin"))
        {
            <div style="margin-right:5px">
                <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Kategori</a>
            </div>
            <div style="margin-right:5px">
                <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Ürünler</a>
            </div>
            <div style="margin-right:5px">
                <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">Roller</a>
            </div>
        }
        <div style="margin-right:5px">
            <a class="nav-link" asp-controller="Account" asp-action="EditUser">Bilgileri Düzenle</a>
        </div>
        <div>
            <a class="nav-link" asp-controller="Account" asp-action="LogOut">Çıkış Yap</a>
        </div>
    </div>
}
else
{
    <div class="d-flex">
        <div style="margin-right:5px">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
        </div>
        <div>
            <a class="nav-link" asp-controller="Account" asp-action="LogIn">Giriş Yap</a>
        </div>
    </div>
}
